<!DOCTYPE html>
<html>

<%- include('partials/head'); %>

  <body class="bg-body-tertiary">
    <nav class="navbar bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white">Adam's Book Notes</a>
        <form action="/search" method="POST" class="d-flex" role="search">
          <a href="/" class="me-2 btn btn-info text-white">Home</a>
          <input class="form-control me-2" name="searchBox" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info" type="submit">Search</button>
        </form>
    </nav>

    <% if (books.length === 0) { %>
        <div class="container my-5">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">No books to show.</h1>
        </div>
    <% } else {%>

      <% for (let i = 0; i < books.length; i++) { %>
        
        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-column-reverse flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-9">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3"><%= books[i].title %></h1>
              <h4>Author: <%= books[i].author %> </h4>
              <h5>My Rating: <%= books[i].rating %></h5>
              <p class="lead"><%= books[i].review %></p>
              <p class="lead fs-6 fst-italic">Date read: <%= books[i].date_read %></p>
              
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <form action="/notes" method="POST">
                    <input type="hidden" value="<%= books[i].id %>" name="bookId">
                    <button type="submit" class="btn btn-info btn-lg px-4 me-md-2 text-white">Notes</button>
                  </form>
                </div>
              
            </div>
            <div class="col-lg-3">
              <img src="https://covers.openlibrary.org/b/ISBN/<%= books[i].isbn %>-M.jpg" class="d-block mx-lg-auto img-fluid" alt="<%= books[i].title %> Cover Image" loading="lazy">
            </div>
          </div>
        </div>

      <% } %>

    <% } %>
    
  </body>

</html>